.form {
    max-width: 385px;
}

.form__fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.form__label {
    margin-bottom: 32px;
    display: block;
}

.form__checkbox {
    width: 20px;
    size: 20px;
    cursor: pointer;
}

.form__label_type_checkbox {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    accent-color: #2F80ED;
}

.form__input {
    display: block;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 8px;
    border: 1px #838383 solid;
    border-radius: 4px;
    height: 60px;
}

.form__button {
    width: 100%;
    padding: 0;
    margin-bottom: 32px;
    height: 60px;
    background-color: #2F80ED;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.form__button:hover {
    opacity: 70%;
}
