.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.header {
    padding: 30px 80px 40px;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: center / cover no-repeat url(../images/background_header.svg);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    position: relative;
    left: -50px;
    width: 105px;
    height: 39px;
}

.nav__links {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.nav__link {
    color: #000;
    text-decoration: none;
}

.header__title {
    max-width: 729px;
    font-size: 60px;
    line-height: 72px;
    margin: 183px 0px 0px;
    letter-spacing: -0.6px;
    font-weight: 500;
    font-family: "Inter";
    font-style: normal;
}

.header__description {
    max-width: 683px;
    font-size: 20px;
    line-height: 30px;
    margin: 28px 0px 0px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;

}

.header__span-accent {
    display: block;
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
}

.header__footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.header__paragraph {
    margin: 0;
    color: #838383;
}

.header__image {
    z-index: 1;
    position: absolute;
    top: 135px;
    right: 5px;
    width: 646px;
    height: 568px;
}

.recipes {
    padding: 100px 80px 215px;
    background: #0a2750 center / cover no-repeat url(../images/background_recipes.svg)
}

.recipes__videos {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin: 80px 0px 0px;
}

.recipes__video-caption {
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: white;
}

.recipes__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: white;
}

.recipes__subtitle {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
}

.recipes__iframe {
    width: 480px;
    height: 273px;
    border-style: none;
}

.reservation {
    padding: 100px 0 120px;
    background: #D9E7FF center / cover no-repeat url(../images/background_reservation.svg)
}

.reservation__title {
    margin: 100px 0 80px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.reservation__form {
    margin: 0 auto;
}

.form {
    max-width: 385px;
}

.form__fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.form__label {
    margin-bottom: 32px;
    display: block;
}

.form__label_type_checkbox {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    accent-color: #2F80ED;
}

.form__input {
    display: block;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 4px;
    height: 60px;
}

.form__button {
    width: 100%;
    padding: 0;
    margin-bottom: 32px;
    height: 60px;
    background-color: #2F80ED;
    color: #fff;
}

.form__button:hover {
    opacity: 70%;
}

.input::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}